# 20R15A0508 Assignment 4 BankDataset

In [ ]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv(r"E:\SmartBridge\bank.csv")

In [3]:
dataset.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [4]:
dataset.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes

In [5]:
#dataset=dataset.drop(['age','balance','day','duration'],axis=1)

In [6]:
#dataset.head()

In [7]:
dataset.marital.unique()

array(['married', 'single', 'divorced'], dtype=object)

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
age          11162 non-null int64
job          11162 non-null object
marital      11162 non-null object
education    11162 non-null object
default      11162 non-null object
balance      11162 non-null int64
housing      11162 non-null object
loan         11162 non-null object
contact      11162 non-null object
day          11162 non-null int64
month        11162 non-null object
duration     11162 non-null int64
campaign     11162 non-null int64
pdays        11162 non-null int64
previous     11162 non-null int64
poutcome     11162 non-null object
deposit      11162 non-null object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dataset["deposit"]=le.fit_transform(dataset["deposit"])

In [10]:
dataset.head(4)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,1
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,1
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,1
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,1

In [11]:
x=dataset.iloc[:,0:16].values
y=dataset.iloc[:,16].values

In [12]:
x

array([[59, 'admin.', 'married', ..., -1, 0, 'unknown'],
       [56, 'admin.', 'married', ..., -1, 0, 'unknown'],
       [41, 'technician', 'married', ..., -1, 0, 'unknown'],
       ...,
       [32, 'technician', 'single', ..., -1, 0, 'unknown'],
       [43, 'technician', 'married', ..., 172, 5, 'failure'],
       [34, 'technician', 'married', ..., -1, 0, 'unknown']], dtype=object)

In [13]:
y

array([1, 1, 1, ..., 0, 0, 0])

In [14]:
x.shape

(11162, 16)

In [15]:
dataset.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,1

In [16]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([("oh",OneHotEncoder(),[1,2,3,4,6,7,8,10,15])],remainder="passthrough")
x=ct.fit_transform(x)

In [17]:
x

array([[1.0, 0.0, 0.0, ..., 1, -1, 0],
       [1.0, 0.0, 0.0, ..., 1, -1, 0],
       [0.0, 0.0, 0.0, ..., 1, -1, 0],
       ...,
       [0.0, 0.0, 0.0, ..., 2, -1, 0],
       [0.0, 0.0, 0.0, ..., 2, 172, 5],
       [0.0, 0.0, 0.0, ..., 1, -1, 0]], dtype=object)

In [18]:
x.shape

(11162, 51)

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1000)

In [20]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [21]:
x_test

array([[-0.36380344, -0.46144096, -0.17315181, ..., -0.21451147,
        -0.48069866, -0.368907  ],
       [ 2.74873708, -0.46144096, -0.17315181, ..., -0.5884413 ,
         2.87293007,  3.80325053],
       [-0.36380344,  2.16712449, -0.17315181, ..., -0.5884413 ,
        -0.48069866, -0.368907  ],
       ...,
       [-0.36380344, -0.46144096, -0.17315181, ..., -0.5884413 ,
        -0.48069866, -0.368907  ],
       [-0.36380344,  2.16712449, -0.17315181, ...,  0.90727802,
        -0.48069866, -0.368907  ],
       [-0.36380344, -0.46144096, -0.17315181, ..., -0.5884413 ,
         1.58103088,  1.48538524]])

In [22]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(x_train,y_train)

C:\Users\YaswanthMounika\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
ypred=logreg.predict(x_test)

In [24]:
ypred

array([1, 1, 0, ..., 0, 0, 1])

In [25]:
y_test

array([1, 1, 0, ..., 0, 0, 1])

In [26]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(ypred,y_test)

In [27]:
accuracy

0.8280340349305867

In [28]:
dataset.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,1

In [29]:
yd=logreg.predict(sc.transform(ct.transform([
    [19,"services","single","secondary","no",1543,"yes","no","unknown",5,"sep",102,1,-1,0,"unknown",1]])))

In [30]:
yd

array([0])